@media(min-width:668px) {
    html {
        font-size: 1.497005988023952vw;
    }

    body {
        padding-bottom: 7.1rem;
    }

    section {
        padding: 4.8rem 0;
    }

    .wrapper {
        padding: 0 2.4rem;
    }

    .wrapper-fluid {
        padding-left: 2.4rem;
    }

    .title {
        font-size: 2rem;
        line-height: 3.2rem;
        max-width: 39.5rem;

        &::before,
        &::after {
            display: inline;
        }
    }

    .title-span {
        display: block;
        width: 10rem;
    }

    .title-container {
        margin-bottom: 3.2rem;
    }

    .title-container-mini {
        margin-bottom: 1.6rem;
    }

    .text {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }

    .text-other {
        line-height: 2rem;
    }

    /*начало стилей секции "Шапка"*/
    .header {
        padding-top: 2rem;
        padding-bottom: 0;
    }

    .header__container {
        align-items: end;
    }

    .header__item-logo {
        margin-left: 0;
    }

    .header__logo {
        margin-left: 3.2rem;
        width: 8.4rem;
        height: 2.4rem;
    }


    .header__form-search-wrapper {
        width: auto;
        height: auto;
    }

    .header__input-search {
        display: block;
        width: 25.3rem;
        border: none;
        border-bottom: 1px solid #7EB8E2;
        opacity: 0.5;
    }

    .header__input-label {
        position: absolute;
        right: 0;
        bottom: 0.3rem;
        width: 2rem;
        height: 2rem;
    }

    /*конец стилей секции "Шапка"*/

    /*начало стилей секции "Главная"*/
    .main {
        padding-top: 5.6rem;
        padding-bottom: 4.8rem;

        .btn-wrapper {
            text-align: left;
        }
    }

    .main__slide {
        display: flex;
        justify-content: space-between;
    }

    .main__title {
        margin-bottom: 0.8rem;
        font-size: 2rem;
        max-width: 51.5rem;
        line-height: 3.2rem;
    }

    .main__image {
        position: relative;
        bottom: -4rem;
        margin: 0;
        width: 23.9rem;
        height: 19rem;
    }

    /*конец стилей секции "Главная"*/

    /*начало стилей секции "О компании"*/
    .about {
        .text {
            text-align: center;
        }
    }

    .about__wrapper {
        margin-top: 3.2rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .about__btn-hide {
        display: none;
    }

    .about__item {
        margin-bottom: 0;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 11.7rem;
    }

    .about__item-image {
        margin-bottom: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        width: 11.7rem;
        height: 11.7rem;
        max-width: none;
        max-height: none;

        img {
            height: 100%;
            max-width: none;
        }
    }

    .about__item-title {
        font-size: 1rem;
        text-align: center;
        -ms-line-clamp: 3;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }

    /*конец стилей секции "О компании"*/

    /*начало стилей секции "Из чего состоят линии гранулирования"*/
    .granulation {
        .text {
            max-width: 31.6rem;
        }

        .wrapper-fluid {
            margin-top: 0;
        }
    }

    .granulation__wrapper {
        margin-top: 0;
        padding: 0 2.4rem;
    }

    .granulation__image {
        margin-bottom: 1.6rem;
        width: 83.6rem;
        height: 32.3rem;
        margin-top: -0.7rem;

        img {
            height: 100%;
            width: auto;
        }
    }

    /*конец стилей секции "Из чего состоят линии гранулирования"*/

    /* начало стилей секции "Каталог"*/
    .catalog {
        .text {
            margin: 0 auto;
            max-width: 43.4rem;
        }
    }

    .catalog__wrapper {
        flex-direction: row;
    }

    .catalog__link {
        margin-right: 1.15rem;
        margin-bottom: 0;
    }

    .catalog__item {
        margin-bottom: 0;
        max-width: 19.9rem;
        max-height: 8rem;
    }

    .catalog__item-title {
        font-size: 1rem;
        line-height: 1.6rem;
        min-width: 11rem;
    }

    .catalog__item-image {
        position: relative;
        right: 4rem;
        margin-right: 0;
        margin-bottom: -1.5rem;
        // margin-right: -7.5rem;
    }

    /* конец стилей секции "Каталог"*/

    /* начало стилей секции "Самое востребованное на рынке"*/
    .demanded {
        .title {
            max-width: 27.5rem;
        }

        .title-container-mini {
            margin-bottom: 1.6rem;
        }

        .text {
            margin: 0 auto;
            max-width: 47.4rem;
        }
    }

    .demanded__container {
        padding: 0 2.4rem;
    }

    /* начало стилей секции "Самое востребованное на рынке"*/

    /* начало стилей секции "Уже несколько лет мы строим..."*/
    .years {
        .title {
            max-width: 39.5rem;
        }

        .title-container {
            margin-bottom: 3.2rem;
        }
    }

    .years__item-image {
        width: 19.7em;
        height: 14rem;
        border-radius: 1.6rem;
    }

    .years__item-text {
        margin-left: 1.4rem;
        justify-content: flex-start;
        max-width: 40.9rem;
    }

    .years__item-desc {
        display: block;
        font-size: 1.2rem;
        line-height: 2.2rem;
        color: #537791;
    }

    .years__item-name {
        margin-bottom: 0.8rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .years__item-btn {
        margin-top: auto;

        &:hover {
            .years__item-btn-span {

                &::after {

                    transition: 0.3s ease;
                    width: 100%;
                }
            }
        }
    }

    .years__pagination {
        padding: 0 2.4rem;
    }

    .years__pagination-item {
        display: flex;
        align-items: center;
        max-width: 18.861rem;
        margin-right: 0.8rem;
    }

    .years__pagination-image {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 4.661rem;
        height: 4.8rem;
        border-radius: 0.8rem;
        overflow: hidden;

        img {
            width: auto;
            height: 100%;
            max-width: none;
        }
    }

    .years__pagination-text {
        margin-left: 1.6rem;
        -ms-line-clamp: 3;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }

    /* конец стилей секции "Уже несколько лет мы строим..."*/

    /*начало стилей секции "Как заказать?"*/
    .order__container {
        flex-direction: row;
        justify-content: space-between;
    }

    .order__item {
        align-items: flex-start;
        padding: 1.6rem;
        width: 11.6rem;
        height: 13.3rem;

        &::after {
            box-shadow: 0px 92px 34px -5px rgb(255 255 255 / 62%) inset;
        }
    }

    .order__item-text {
        font-size: 1rem;
        max-width: 8.4rem;
        -ms-line-clamp: 3;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }

    .order__item-number {
        bottom: -3rem;
    }

    /*конец стилей секции "Как заказать?"*/

    /*начало стилей секции "Нужна наша консультация?"*/
    .consultation {
        .btn-wrapper {
            margin-top: 0;
            margin-bottom: 4.1rem;
        }
    }

    .consultation__form {
        margin: 0 auto;
        max-width: 43.4rem;
    }

    .consultation__buttons {
        margin-top: 3.2rem;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .consultation__agreement {
        margin: 0 0 0 1.4rem;
        text-align: left;
    }

    .consultation__agreement-link {
        transition: 0.3s ease;

        &:hover {
            color: #FF6D1A;
            border-bottom: 0.5px solid #FF6D1A;
        }
    }

    .consultation__btn-download-wrapper {
        margin: auto;
    }

    /*конец стилей секции "Нужна наша консультация?"*/

    /*начало стилей секции "Контакты"*/
    .contacts {
        padding-bottom: 0;
        padding-top: 5.7rem;
        overflow: hidden;

        .socials {
            margin: 1.7rem 0 1.6rem;
        }
    }

    .contacts__address {
        margin-bottom: 1.6rem;
        max-width: 26.1rem;
    }

    .contacts__mail {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 11.1rem;
            height: 0.5px;
            background-color: #3E4A61;
            bottom: -0.3rem;
            left: 2.3rem;
        }
    }

    .contacts__map-btn {
        margin-top: 3.4rem;
        display: block;
    }

    .contacts__map-btn-span {
        position: relative;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #FF6D1A;

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 0.6rem;
            height: 0.6rem;
            border-top: 1px solid #FF6D1A;
            border-right: 1px solid #FF6D1A;
            transform: rotate(135deg);
            right: -1.6rem;
            top: calc(50% - 0.3rem);
        }
    }

    .contacts__image {
        display: flex;
        margin-top: -15.5rem;
        position: relative;
        /* bottom: -1rem; */
        width: 28.6rem;
        height: 20.2rem;
        margin-left: auto;
        z-index: 2;

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 61.5rem;
            height: 61.5rem;
            background-image: url(../img/contacts/lines.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 61.5rem 61.5rem;
            bottom: -36.2rem;
            right: -26.5rem;
            z-index: -1;
        }

        img {
            height: 100%;
        }
    }

    .contacts__map {
        display: none;
    }

    /*конец стилей секции "Контакты*/

    /*начало стилей секции "Подвал" */
    .footer {
        top: 0;
        padding: 3.2rem 0;
        z-index: 3;
    }

    .footer__container {
        display: block;
    }

    .footer__container-first {
        .footer__item {
            &:first-of-type {
                margin-right: 8.9rem;
            }

            &:nth-of-type(2) {
                margin-right: 1.1rem;
            }
        }
    }

    // .footer__item {
    //     &:first-of-type {
    //         margin-right: 8.9rem;
    //     }

    //     &:nth-of-type(2) {
    //         margin-right: 1.1rem;
    //     }

    //     &:nth-last-of-type(1) {
    //         align-self: flex-end;
    //     }
    // }

    .footer__container-first {
        margin-bottom: 3.2rem;
        display: flex;

        .footer__item {
            min-width: 0;
        }

        // justify-content: space-between;
    }

    .footer__nav {
        width: 19.8rem;
    }

    .footer__nav-item {
        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
    }

    .footer__container-second {
        display: flex;
        justify-content: space-between;
    }

    .footer__work {
        margin-top: 0;
    }

    /*Конец стилей секции "Подвал"*/

    /*начало стилей секции "Нижнее меню на телефоны/планшеты" */
    .buttom-menu {
        max-height: 7.1rem;
        padding: 0.8rem 6.15rem 1rem;
    }

    .buttom-menu__span {
        display: inline-block;
        margin-top: 0.4rem;
        line-height: 14px;
        color: #537791;
    }

    /*конец стилей секции "Нижнее меню на телефоны/планшеты" */
}

@media(min-width:1024px) {
    html {
        font-size: 0.9765625vw;
    }

    body {
        padding-bottom: 0;
    }

    section {
        padding: 6.4rem 0;
    }

    .wrapper {
        padding: 0 9.4rem;
    }

    .wrapper-fluid {
        padding-left: 9.4rem;
    }

    .content {
        min-height: none;
    }

    .title {
        font-size: 2.6rem;
        line-height: 3.6rem;
    }

    .title-container {
        margin-bottom: 4.8rem;
    }

    .title-container-mini {
        margin-bottom: 1.6rem;
    }

    .text-other {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .btn-wrapper {
        margin-top: 4.8rem;
    }

    .btn {
        transition: 0.3s ease;

        &:hover {
            transform: scale(1.105);
        }
    }

    /*начало стилей секции "Шапка" */
    .header {
        .socials__item {
            margin-right: 1.772rem;

            &:nth-last-of-type(1) {
                margin-right: 0;
            }
        }
    }


    .header__container {
        align-items: center;
        padding-bottom: 4.6rem;
    }

    .header__burger {
        display: none;
    }

    .header__logo {
        margin-left: 0;
        width: 9.5rem;
        height: 2.6rem;

        img {
            width: 100%;
            height: auto;
            max-width: none;
        }
    }

    .header__form-search-wrapper {
        margin: 0 7.1rem;
        position: relative;
    }

    .header__input-search {
        width: 18.5rem;
    }

    .header__input-label {
        width: 1rem;
        height: 1rem;
    }

    .header__item-search {
        margin-left: 0;
        margin-right: 0;
    }

    .header__work {
        margin-right: 7.971rem;
        display: flex;
    }

    .header__item-socials {
        display: block;
    }

    .header__item-phone {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__item-mobile {
        margin-left: auto;
    }

    .header__menu-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.2rem;
    }

    .header__menu-link {
        display: flex;
        align-items: center;
        line-height: 1.8rem;
        color: #3E4A61;
        transition: 0.3s ease;

        &:hover {
            color: #FF6D1A;
        }
    }

    .header__menu-burger-wrapper {
        display: flex;
        position: relative;
        align-items: center;
        width: 1.4rem;
        height: 1.4rem;

        &::before,
        &::after {
            position: absolute;
            display: block;
            width: 1.4rem;
            height: 1px;
            background-color: #FF6D1A;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }

    .header__menu-burger {
        display: block;
        width: 1.4rem;
        height: 1px;
        background-color: #FF6D1A;

        // position: relative;

        // &::before {

        // }
    }

    .header__menu-span-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        width: 1.4rem;
        height: 1.4rem;

        &::after,
        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 1.4rem;
            background-color: #FF6D1A;
        }

        &::after {
            top: 3px;
        }

        &::before {
            bottom: 3px;
        }
    }

    .header__menu-burger-text {
        margin-left: 1.6rem;
    }



    .header__work-days {
        margin-right: 0.8rem;
        padding-left: 2.8rem;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 1.2rem;
            height: 1.2rem;
            left: 0;
            background-image: url(../img/clock.svg);
            background-size: 1.2rem 1.2rem;
            background-position: center;
            background-repeat: no-repeat;
        }

    }

    .header__call-text {
        margin-top: 0.8rem;

        &:hover {
            .header__call-text-span::after {
                transition: 0.3s ease;
                width: 100%;
            }
        }
    }

    .header__call-text-span {
        display: inline-flex;
        align-items: center;
        position: relative;
        padding-left: 1.6rem;
        font-size: 0.8rem;
        line-height: 1.2rem;
        color: #FF6D1A;

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 0.8rem;
            height: 0.8rem;
            left: 0;
            background-image: url(../img/phone.svg);
            background-size: 0.8rem 0.8rem;
            background-position: center;
            background-repeat: no-repeat;
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 0rem;
            height: 0.5px;
            left: 0;
            bottom: -0.1rem;
            background-color: #FF6D1A;
        }
    }

    .header__mobile-phone {
        display: none;
    }

    .header__menu {
        display: block;
    }

    .header__work-hours {
        position: relative;

        sup {
            position: absolute;
            top: 5px;
        }

        span {
            margin-right: 0.8rem;
        }
    }

    /*конец стилей секции "Шапка" */

    /*начало стилей секции "Главная" */
    .main {
        padding: 4.3rem 0 5rem;
    }

    .main__image {
        position: static;
        width: 33.7rem;
        height: 26.8rem;
        max-width: none;

        img {
            height: 100%;
            width: auto;
        }
    }

    /*конец стилей секции "Главная" */

    /*начало стилей секции "О компании" */
    .about__item {
        margin-right: 2.5rem;
        max-width: 14.7rem;
    }

    .about__item-image {
        width: 14.7rem;
        height: 12rem;
    }

    /*конец стилей секции "О компании" */

    /*начало стилей секции "Из чего состоят линии гранулирования?" */
    .granulation .text {
        max-width: 41.3rem;
    }

    .granulation__wrapper {
        margin-top: -5rem;
        position: relative;
        z-index: -1;
        overflow: hidden;
    }

    .granulation__image {
        margin: 0 auto;
        width: 83.6rem;
    }

    /*конец стилей секции "Из чего состоят линии гранулирования?" */

    /*начало стилей секции "Каталог" */
    .catalog {
        .text {
            font-size: 1.2rem;
            line-height: 2.2rem;
            max-width: 64.5rem;
        }
    }

    .catalog__wrapper {
        margin-top: 4.8rem;
    }

    .catalog__link {

        &:hover {
            .catalog__item::before {
                opacity: 1;
                // background: linear-gradient(263.74deg, #FF5300 0%, #FF7800 100%);
            }

            .catalog__item-title {
                color: #fff;
            }
        }
    }

    .catalog__item {
        padding: 3.8rem 2.4rem;
        width: 26.7rem;
        height: 12.8rem;
        max-width: none;
        max-height: none;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(263.74deg, #FF5300 0%, #FF7800 100%);
            z-index: 1;
            opacity: 0;
            transition: opacity 0.4s linear;
        }

    }




    // .element {
    //     position: relative;
    //     width: 500px;
    //     height: 400px;
    //     background-image: linear-gradient(45deg, blue, aqua);
    //     z-index: 2;
    //   }

    //   .element::before {
    //     position: absolute;
    //     content: "";
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     background-image: linear-gradient(to bottom, red, orange);
    //     z-index: 1;
    //     opacity: 0;
    //     transition: opacity 0.4s linear;
    //   }

    //   .element:hover::before {
    //     opacity: 1;
    //   }



    .catalog__item-title {
        font-size: 1.6rem;
        line-height: 2.6rem;
        min-width: 17rem;
    }

    .catalog__item-image {
        width: 25.8rem;
        height: 25.8rem;
        right: 7rem;
        margin-bottom: -3rem;
        z-index: 2;
    }

    /*конец стилей секции "Каталог" */

    /*начало стилей секции "Самое востребованное на рынке" */
    .demanded .title {
        max-width: 50.6rem;
    }

    .demanded .text {
        max-width: 65.4rem;
        font-size: 1.2rem;
        line-height: 2.2rem;
    }

    .demanded__container {
        padding: 0 4.8rem;
    }

    .demanded__item {
        margin-right: 1.8rem;
        padding: 2.4rem;
    }

    .demanded__item-image {
        width: 18.6rem;
        height: 15.3rem;
    }

    .demanded__item-power {
        margin: 0.8rem 0;
        font-size: 1.2rem;
    }

    .demanded__item-name {
        font-size: 1.2rem;
        line-height: 2rem;
        max-width: none;
    }

    /*конец стилей секции "Самое востребованное на рынке" */

    /*начало стилей секции "Уже несколько лет мы строим..." */
    .years {
        .title {
            max-width: 50.6rem;
        }

        .title-container {
            margin-bottom: 4.8rem;
        }
    }

    .years__item {
        margin-bottom: 3.2rem;
    }

    .years__item-image {
        width: 24.5rem;
        height: 17.7rem;
    }

    .years__item-name {
        margin-bottom: 0.8rem;
        font-size: 2rem;
        line-height: 3.5rem;
    }

    .years__item-text {
        max-width: 48.2rem;
    }

    .years__pagination {
        padding: 0 9.4rem;
    }

    .years__pagination-item {
        margin-right: 1.6rem;
        padding: 0.8rem 1.6rem;
        max-width: 25.455rem;
    }

    .years__pagination-image {
        width: 7.855rem;
        height: 5.4rem;
    }

    /*конец стилей секции "Уже несколько лет мы строим..." */

    /*начало стилей секции "Как заказать?" */
    .order__item {
        width: 15.6rem;
        height: 11rem;
    }

    .order__item-text {
        font-size: 1.4rem;
        line-height: 2rem;
        max-width: 12.4rem;
    }

    .order__item-number {
        bottom: -4rem;
    }

    /*конец стилей секции "Как заказать?" */

    /*начало стилей секции "Нужна наша консультация?" */
    .consultation__form {
        max-width: none;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .consultation__form-wrapper {
        display: flex;
    }

    .consultation__form-wrapper-item {
        width: 100%;

        &:nth-of-type(1) {
            margin-right: 1.2rem;
        }
    }

    .consultation__input-wrapper {
        margin-bottom: 1.7rem;
    }

    .consultation__form-input {
        max-width: 41.2rem;
        /* width: 100%; */
        height: 4.2rem;
    }

    .consultation__form-textarea {
        height: 10.1rem;
    }

    .consultation .btn-wrapper {
        margin-bottom: 0rem;
    }

    .consultation__buttons {
        align-items: center;
    }

    .consultation__agreement {
        margin: 0 5.5rem 0 3.7rem;
        text-align: left;
    }

    .consultation__btn-download-wrapper {
        margin: 0;

        &:hover {
            .consultation__btn-download::before {
                transition: 0.3s ease;
                transform: scale(1.3);
            }
        }
    }

    /*конец стилей секции "Нужна наша консультация?" */

    /*начало стилей секции "Контакты" */
    .contacts .socials {
        margin: 2.5rem 0 2.4rem;
    }

    .contacts-socials__item {
        svg {
            width: 2.2rem;
            height: 2.2rem;
        }
    }

    .socials__item {
        &:hover {
            path {
                transition: 0.3s ease;
                stroke: #FF995F;
            }
        }
    }

    .contacts__address {
        margin-bottom: 1.2rem;
        max-width: 28.1rem;
    }

    .contacts__mail {

        &::after {
            width: 6.5rem;
            left: 2.3rem;
            transition: 0.3s ease;
        }

        &:hover {
            &::after {
                width: 13rem;
            }
        }
    }


    .contacts__phone {
        &:hover {
            color: #FF995F;

            svg {
                path {
                    transition: 0.3s ease;
                    fill: #FF995F;
                }
            }
        }

    }

    .contacts__image {
        margin-top: -16rem;
        bottom: -2rem;
    }

    .contacts__map-btn {
        margin-top: 3.9rem;
        // position: relative;

        &:hover {
            .contacts__map-btn-span::before {
                width: 100%;
                // transition: 0.3s ease;
                // border-bottom: 1px solid #FF6D1A;
            }
        }
    }

    .contacts__map-btn-span {
        position: relative;


        &::before {
            transition: 0.3s ease;
            content: '';
            position: absolute;
            width: 0;
            height: 0.5px;
            bottom: -0.2rem;
            left: 0;
            background-color: #FF6D1A;
        }
    }

    /*конец стилей секции "Контакты" */

    /*начало стилей секции "Подвал" */
    .footer {
        padding: 6.4rem 0 2.4rem;
    }

    .footer__container {
        display: flex;
        justify-content: space-between;
    }

    .footer__logo {
        width: 100%;
        height: auto;
        max-width: none;
    }

    // .footer__item {
    //     width: 100%;
    // }

    .footer__container-first .footer__item:first-of-type {
        margin-right: 4.2rem;
    }

    .footer__container-first .footer__item:nth-of-type(2) {
        margin-right: 3.2rem;
    }

    .footer__container-first .footer__item:nth-of-type(3) {
        margin-right: 1rem;
    }

    .footer__container-second {
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer__container-second .footer__item:nth-last-of-type(1) {
        margin-left: auto;
    }

    .footer__nav {
        width: 21.5rem;
    }

    .footer__nav-item {
        margin-bottom: 0.4rem;
    }

    .footer__link {
        line-height: 1.8rem;
    }

    .footer__mail {
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }

    .footer__address {
        max-width: 18.9rem;
    }

    .footer__work-hours {
        position: relative;

        sup {
            position: absolute;
            top: 5px;
        }

        span {
            margin-right: 0.8rem;
        }
    }

    .footer__upfly {
        margin-top: 5.5rem;
    }

    /*конец стилей секции "Подвал" */

    /*начало стилей секции "Нижнее меню на телефоны/планшеты" */
    .buttom-menu {
        display: none;
    }

    /*конец стилей секции "Нижнее меню на телефоны/планшеты" */
}