@import "index/header";

html {
    font-family: Formular;
    font-size: 10px;
}

section {
    padding-top: 7.2rem;
}

.wrapper {
    padding: 0 1.5rem;
}

.title {
    margin-bottom: 3.2rem;
    position: relative;
    font-family: 'Formular-Black';
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;


    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        display: none;
        height: 1px;
        width: 15.3rem;
        background-color: #7EB8E2;
    }
}

.title-mini {
    margin-bottom: 0.8rem;
}

.text {
    font-family: 'Formular';
    color: #537791;
    line-height: 1.8rem;
    text-align: center;
}

.text-left {
    text-align: start;
}

.btn-wrapper {
    margin-top: 3.2rem;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 0.8rem 2.4rem;
    background: linear-gradient(263.74deg, #FF5300 0%, #FF7800 100%);
    border-radius: 1.6rem;
    border: none;
    color: #fff;
    font-family: 'Formular-Bold';
    font-size: 1.4rem;
    line-height: 2rem;
}

.title__span {
    color: #FF6D1A;
}

//начало стилей секции "О компании"
.about__wrapper {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
}

.about__item {
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__item-title {
    font-family: 'Formular-Bold';
    font-size: 1.2rem;
    background-color: rgba(255, 83, 0, 1);
    background-image: linear-gradient(90deg, rgba(255, 83, 0, 1), rgba(255, 120, 0, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.8rem;
    max-width: 19rem;
}

.about__item-image {
    margin-right: 1.6rem;
    max-width: 8.4rem;
    height: auto;
    position: relative;
    border-radius: 0.8rem;
    overflow: hidden;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 28.13%, #FFFFFF 100%);
    }
}

//конец стилей секции "О компании"

// начало стилей секции "Из чего состоят линии гранулирования?"
.granulation {
    overflow: hidden;
}

.granulation__wrapper {
    margin-top: 2.8rem;
    overflow: scroll;
    padding-left: 1.5rem;
}

.granulation__image {
    width: 68.9rem;
}

// конец стилей секции "Из чего состоят линии гранулирования?"

// начало стилей секции "Каталог"
.catalog__item {
    margin-bottom: 0.8rem;
    display: flex;
    max-height: 7.2rem;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.6rem;
    position: relative;
    // background: linear-gradient(0deg, rgba(233, 243, 250, 1) 0%, rgba(255, 255, 255, 1) 100%);
    // &:hover {

    // }
    // &::after {
    //     content: "";
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background: transparent;
    //     background-image: linear-gradient(0deg, rgba(233, 243, 250, 1) 0%, rgba(255, 255, 255, 1) 100%);
    // }
}

.catalog__item-title {
    font-family: Formular-Bold;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #3E4A61;
}

.catalog__item-image {
    width: 15.4rem;
    margin-right: -5rem;
    margin-bottom: -3rem;
}

// конец стилей секции "Каталог"

//начало стилей секции "Самое востребованное на рынке"
.demanded__container {
    margin-top: 4rem;
    display: flex;
    padding: 0 1.2rem;
    overflow: hidden;
}

.demanded__item {
    padding: 2.4rem 1.6rem;
    background: linear-gradient(180deg, rgba(236, 242, 249, 0) 0%, #ECF2F9 73.53%), #FFFFFF;
    border-radius: 1.6rem;
}

.demanded__item-image {
    width: 11.3rem;
    height: auto;
    border-radius: 1.6rem;
    overflow: hidden;
}

.demanded__item-power {
    margin: 0.6rem 0;
    font-family: Formular-Medium;
    line-height: 2rem;
    color: #FF6D1A;
}

.demanded__item-name {
    font-family: Formular-Medium;
    max-width: 11.3rem;
    line-height: 1.6rem;
}

//начало стилей секции "Самое востребованное на рынке"

//начало стилей секции "Уже несколько лет мы строим..."
.years {
    padding-bottom: 4.8rem;
}

.years__item {
    display: flex;
    margin-bottom: 2.4rem;
}

.years__item-image {
    width: 9.2rem;
    height: 9.2rem;
    background-image: url("../img/years/zavod-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0.8rem;
}

.years__item-name {
    font-family: Formular-Bold;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #3E4A61;
}

.years__item-text {
    margin-left: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 18.9rem;
}

.years__item-desc {
    display: none;
}

.years__item-btn {
    position: relative;
    font-family: Formular-Bold;
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: #FF6D1A;
    padding-bottom: 0.2rem;

    &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 4.1rem;
        background-color: #FF6D1A;
        bottom: 0;
        left: 0;
    }
}

.years__pagination {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.years__pagination-item {
    margin-right: 0.6rem;
    padding: 0.8rem;
    background: linear-gradient(270deg, rgba(236, 242, 249, 0) -0.17%, #ECF2F9 100%), #FFFFFF;
    border-radius: 0.8rem;
}

.years__pagination-text {
    font-family: Formular-Medium;
    line-height: 1.6rem;
    color: #3E4A61;
    width: 13.4rem;
}

//начало стилей секции "Уже несколько лет мы строим..."

.background {
    //фон для секций "Как заказать?" и "Нужна наша консультация?"
    background: linear-gradient(180deg, #ECF2F9 0%, rgba(236, 242, 249, 0) 73.53%);
    border-radius: 1.6rem 1.6rem 0 0;
}

//начало стилей секции "Как заказать?"
.order {
    padding-top: 2.4rem;
}

.order__container {
    display: flex;
    flex-direction: column;
}

.order__item {
    position: relative;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 0 1.7rem 1.6rem;
    background-color: #fff;
    border-radius: 1.6rem;
    height: 6.6rem;
    overflow: hidden;

    // box-shadow: 0px 32px 28px -5px rgba(255, 255, 255, 0.62) inset;
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        box-shadow: 0px 32px 28px -5px rgba(255, 255, 255, 0.62) inset;
    }
}

.order__item-text {
    font-family: Formular-Medium;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #FF6D1A;
    max-width: 20rem;
    z-index: 10;
}

.order__item-number {
    position: absolute;
    right: 0;
    bottom: -4rem;
    font-family: Formular-Black;
    font-size: 12.8rem;
    line-height: 12.8rem;
    color: #7EB8E2;
    opacity: 0.14;
}

//конец стилей секции "Как заказать?"

//начало стилей секции "Нужна наша консультация?"
.consultation__input-wrapper {
    margin-bottom: 0.8rem;
    position: relative;
    display: flex;
    align-items: center;
}

.consultation__form-input {
    padding: 1.2rem 0.8rem 1.2rem 3.8rem;
    width: 100%;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #537791;
    border: 1px solid rgba(126, 184, 226, 0.2);
    border-radius: 0.8rem;

    &::placeholder {
        color: #537791;
        opacity: 0.8;
    }
}


.consultation__label-name,
.consultation__label-phone {
    position: absolute;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background-size: 1.2rem 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
    left: 1.6rem;
}

.consultation__label-name {
    background-image: url("../img/consultation/name.svg");
}

.consultation__label-phone {
    background-image: url("../img/consultation/phone.svg");
}

.consultation__agreement {
    margin: 1.6rem auto 3.2rem;
    line-height: 1.4rem;
    color: #537791;
    opacity: 0.8;
    text-align: center;
    max-width: 21rem;
}

.consultation__agreement-link {
    border-bottom: 0.5px solid #537791;
}

.consultation__btn-download {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: Formular-Black;
    font-size: 1.6rem;
    line-height: 1.8rem;
    padding: 1.2rem 2.4rem 1.2rem 6.4rem;
    color: #fff;
    border: none;
    border-radius: 0.8rem;
    background: linear-gradient(45deg, rgba(136, 157, 189, 1) 0%, rgba(219, 235, 247, 1) 100%);

    &::before {
        content: '';
        position: absolute;
        display: block;
        left: -1.1rem;
        top: calc(50% - 3rem);
        width: 6rem;
        height: 6rem;
        background-image: url("../img/consultation/download.png");
        background-size: 6rem 6rem;
        background-position: center;
        background-repeat: no-repeat;
    }
}

//конец стилей секции "Нужна наша консультация?"

//начало стилей секции "Контакты"
.contacts__phone {
    font-family: Formular-Bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #FF6D1A;
}

.contacts__phone-span {
    position: relative;
    padding-left: 2.8rem;

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 2rem;
        height: 2rem;
        background-image: url("../img/phone.svg");
        background-size: 2rem 2rem;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.socials {
    margin: 1.6rem 0 1.2rem;
    display: flex;
    align-items: center;
}

.socials__item {
    margin-right: 1.6rem;
}

.socials__item-span-whatsapp,
.socials__item-span-viber {
    display: block;
    width: 2rem;
    height: 2rem;
    background-size: 2rem 2rem;
    background-position: center;
    background-repeat: no-repeat;
}

.socials__item-span-whatsapp {
    background-image: url("../img/whatsapp.svg");
}

.socials__item-span-viber {
    background-image: url("../img/viber.svg");
}

.contacts__address,
.contacts__mail {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #3E4A61;
}

.contacts__address {
    margin-bottom: 1.2rem;
    position: relative;
    padding-left: 2.3rem;

    &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 1.5rem;
        height: 1.5rem;
        background-image: url("../img/address.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.5rem 1.5rem;
    }
}

.contacts__mail-span {
    position: relative;
    padding-left: 2.3rem;

    &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 1.5rem;
        height: 1.5rem;
        background-image: url("../img/mail.svg");
        background-size: 1.5rem 1.5rem;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.contacts__map-btn {
    display: none;
}

.contacts__image {
    position: relative;
    display: none;
    width: 34.5rem;
    height: auto;
    margin-left: auto;
    z-index: 2;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 41rem;
        height: 28rem;
        background-image: url("../img/contacts/lines.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 41rem 28rem;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

//конец стилей секции "Контакты"

// начало стилей секции "Подвал"
.footer {
    padding: 2.4rem 0;
}

.footer__logo {
    margin-bottom: 1.6rem;
    width: 10.1rem;
    height: auto;
}

.footer__phone {
    font-family: Formular-Bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #FF6D1A;
}

.footer__logo-image {
    width: 100%;
}

.footer__socials {
    margin-bottom: 2.4rem;
}

.footer__nav-item {
    margin-bottom: 0.8rem;
}

.footer__link {
    color: #3E4A61;
    line-height: 1.6rem;
}

.footer__address,
.footer__mail,
.footer__work {
    line-height: 1.4rem;
    color: #3E4A61;
}

.footer__work {
    margin-top: 2.4rem;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 2.8rem;

    &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 1.2rem;
        height: 1.2rem;
        background-image: url("../img/clock.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.2rem 1.2rem;
    }
}

.footer__work-days {
    margin-right: 1.6rem;
}

.footer__address {
    margin: 1.2rem 0;
    position: relative;
    padding-left: 2.8rem;
    max-width: 19.9rem;

    &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 1.2rem;
        height: 1.2rem;
        background-image: url("../img/address.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.2rem 1.2rem;
    }
}

.footer__mail-span {
    position: relative;
    padding-left: 2.8rem;

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        background-image: url("../img/mail.svg");
        background-size: 1.2rem 1.2rem;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.footer__upfly {
    margin-top: 2.4rem;
    display: inline-flex;
    align-items: center;
}

.footer__upfly-text {
    margin-left: 1.6rem;
    position: relative;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #3E4A61;
    width: 7.7rem;

    &::after {
        content: '';
        position: absolute;
        bottom: -0.4rem;
        left: 0;
        height: 0.5px;
        width: 3.8rem;
        background-color: #FF6D1A;
    }
}